<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>CoffeeMoney</title>
	<link rel="stylesheet" th:href="@{/css/home.css}">
	<meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>

	<h2 class="app-header">CoffeeMoney</h2>
	
	<p class="description">ちょっとした支出カウントアプリ<br>
		ちょこちょこ買うものが月間でいくらになるのかカウントしてみよう</p><br>
	<p class="blink select-title">↓SELECT CATEGORY↓</p>

	<div class="category-row" th:each="cat : ${categories}">

		<a th:href="@{/summary-top(categoryId=${cat.id})}" class="category-link">
			<img th:src="@{/images/coffee_chilled_cup.png}" alt="coffee" class="category-icon">
			<span class="category-name" th:text="${cat.name}"></span>
		</a>
		<div class="category-actions">
			<!-- 更新 -->
			<a th:href="@{/category/edit(id=${cat.id})}" class="edit-button">カテゴリーを編集</a>

			<!-- 削除 -->
			<form th:action="@{/category/delete}" method="post"
				onsubmit="return confirm('このカテゴリーを削除すると関連アイテムも消えます。削除しますか？');">
				<input type="hidden" name="categoryId" th:value="${cat.id}">
				<button type="submit" class="delete-button">削除</button>
			</form>
		</div>

	</div>

	<hr>

	<a th:href="@{/category-add}" class="add-category-icon-btn">
		<img th:src="@{/images/coffee_chilled_cup.png}" alt="coffee" class="category-icon">
		<span class="add-icon"></span> カテゴリーを追加
	</a>


	<script src="/deletemes.js"></script>
</body>

</html>