<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>アイテム追加</title>
</head>

<body>

	<h2>アイテム追加</h2>

	<form action="/add-item" method="post">
		<label>アイテム名：</label>
		<input type="text" name="name" required>

		<br><br>

		<label>金額：</label>
		<input type="number" name="price" required>

		<br><br>

		<label>カテゴリー：</label>
		<select name="categoryId" required>
			<option th:each="cat : ${categories}" th:value="${cat.id}" th:text="${cat.name}">
			</option>
		</select>

		<br><br>

		<button type="submit">追加</button>
	</form>

	<a href="/summary-top">戻る</a>

</body>

</html>