<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>月選択</title>
	<link rel="stylesheet" th:href="@{/css/month-select.css}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

	<h2>以前の記録を確認する</h2>

	<form action="/records-by-month" method="get">
		<input type="hidden" name="categoryId" th:value="${categoryId}">

		<label>年：</label>
		<select name="year">
			<option th:each="y : ${years}" th:value="${y}" th:text="${y}"></option>
		</select>

		<label>月：</label>
		<select name="month">
			<option th:each="m : ${months}" th:value="${m}" th:text="${m}"></option>
		</select>

		<button type="submit">表示</button>
	</form>


	<a th:href="@{/summary-top(categoryId=${categoryId})}">戻る</a>


</body>

</html>