<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta name="viewport" content="width=device-width, initial-scale=1">

<head>
	<meta charset="UTF-8">
	<title>カウント画面</title>
	<link rel="stylesheet" th:href="@{/css/count.css}">
</head>

<body>

	<div class="header-row">
		<h1>Item Count</h1>

		<a th:href="@{/item-add(categoryId=${category.id})}" class="add-item-icon-btn">
			<img th:src="@{/images/food_americandog.png}" alt="coffee" class="item-icon">
			アイテムを追加
		</a>
	</div>

	<hr>
	<!-- 現在日時 -->
	<p><span id="now">現在日時</span></p>

	<!-- カテゴリー名 -->
	<h2 th:text="${category.name} + ' Count'"></h2>
	<!-- アイテム一覧（押すとカウント） -->
	<div th:each="item : ${items}">
		<form th:action="@{/record/add}" method="post">
			<input type="hidden" name="itemId" th:value="${item.id}">
			<input type="hidden" name="categoryId" th:value="${category.id}">
			<button type="submit" class="item-button" th:text="${item.name}"></button>
			<a th:href="@{/item/edit(id=${item.id})}" class="edit-button">編集</a>

		</form>
	</div>

	<hr>
	<p class="badge-total">今月の合計：<span th:text="${monthlyTotal}"></span> 円</p>
	<p class="badge-balance">残高：<span th:text="${category.budget - monthlyTotal}"></span> 円</p>



	<!-- 詳細画面へ遷移 -->
	<a th:href="@{/records(categoryId=${category.id})}" class="detail-button">詳細を見る</a>
	<a th:href="@{/}" class="btn-back">ホームに戻る</a>

	<script src="/clock.js"></script>
</body>

</html>